<!-- Footer -->
<footer class="text-center text-lg-start bg-white text-muted">
    <!-- Section: Social media -->
    
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="text-secondary"></i>Main menu
            </h6>
            <p>
             <a >Home</a><br>
             <a>Plants</a><br>
             <a>Trees & Bamboo</a><br>
             <a>Cactus & Succulents</a><br>
             <a>Combo packs</a><br>
             <a>Palm & Cycas</a><br>
             <a>Seeds</a><br>
             <a>Fertilizer</a><br>
             <a>Contact us</a><br>
            
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4" >
              Follow Us
            </h6>
                <a style="width:28;height:28;" href="" class="me-4 link-secondary">
                    <i  class="fa-brands fa-facebook"></i>
                </a>
                <a href="" class="me-4 link-secondary">
                  <i class="fab fa-twitter"></i>
                </a>
                <a href="" class="me-4 link-secondary">
                  <i class="fab fa-instagram"></i>
                </a>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Policies
            </h6>
            <p>
              <a  style="text-decoration: none;" class="text-reset">Privacy Policy</a>
            </p>
            <p>
              <a style="text-decoration: none;" class="text-reset">Terms of Service</a>
            </p>
            <p>
              <a style="text-decoration: none;" class="text-reset">Shipping Policy</a>
            </p>
            <p>
              <a  style="text-decoration: none;" class="text-reset">Refund Policy</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Subscribe</h6>
            <label for="inputEmail4" class="form-label"></label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="Email address"><br>
      <button style="height:50px;width:85px;"  type="submit" class="btn btn-warning">Sign up</button>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    
    <div style="margin-left: 20px;margin-bottom: 35px;">
    <a style="font-size:13px; font-weight: 500;">Search  |  Terms of Service  |  Refund Policy</a>
    <p></p>
    <div class="text" style="background-color:white;font-size: 13px;">
     Copywrite @ 2022 HeartyCulture Nature
    <br>
    <a>Powered by Shopify</a>
    </div>
    </div>

    <!-- Copyright -->
  </footer>
  <!-- Footer -->
