<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <!--STRING INTERPOLATION-->
      <!--PROPERTY BINDING IN img tag-->
      <a class="navbar-brand" href="#">
        <img [src]="logo" width="250" height="70" class="second" alt="Drizly"></a>
    <form class="d-flex" style="width: 850px;height:50px;margin-right: 100px;margin-top:px;">
        <input class="form-control me-2" type="Search" placeholder="What are you looking for?" aria-label="Search">
        <button class="btn btn-light"  style="background-color: rgb(235, 209, 11);width:60px;" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
    <button routerLink='cartitem'>
        <span class="fa-solid fa-cart-shopping" style="font-size:20px;color:black"></span>
      </button> &nbsp;&nbsp;&nbsp;
    </div>
</nav>


